/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/fonts-manifest.dev.json
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.staging
.env.local
*.sqlite
*.sqlite-journal
database/*.sqlite
database/*.sqlite-journal
/storage/logs/*.log
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
.DS_Store
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
